/*Oclare text colors*/
.oclare-color-1 {
    color: "#174B83";
}

.oclare-color-2 {
    color: "#007AA0";
}

.oclare-color-3 {
    color: "#6255A4";
}

.oclare-color-4 {
    color: "#9898CB";
}

/*Oclare border colors*/
.oclare-border-color-1 {
    border-color: "#174B83";
}

.oclare-border-color-2 {
    border-color: "#007AA0";
}

.oclare-border-color-3 {
    border-color: "#6255A4";
}

.oclare-border-color-4 {
    border-color: "#9898CB";
}