/*#region Oclare text colors*/
.oclare-color-1 {
    color: var(--color1);
}

.oclare-color-2 {
    color: var(--color2);
}

.oclare-color-3 {
    color: var(--color3);
}

.oclare-color-4 {
    color: var(--color4);
}
/*#endregion */

/*#region Input with oclare color functionality*/
input.oclare-color-1:hover,
input.oclare-color-1:active, 
input.oclare-color-1:focus {
    color: white;
    background-color: var(--color1);
    outline: 5px auto var(--color1Transparent)
}

input.oclare-color-2:hover,
input.oclare-color-2:active,
input.oclare-color-2:focus {
    color: white;
    background-color: var(--color2);
    outline: 5px auto var(--color2Transparent);
}

input.oclare-color-3:hover,
input.oclare-color-3:active,
input.oclare-color-3:focus {
    color: white;
    background-color: var(--color3);
    outline: 5px auto var(--color3Transparent)
}

input.oclare-color-4:hover,
input.oclare-color-4:active,
input.oclare-color-4:focus {
    color: white;
    background-color: var(--color4);
    color: var(--color4);
    outline: 5px auto var(--color4Transparent)
}
/*#endregion*/

/*#region Oclare border colors*/
.oclare-border-color-1 {
    border: 1px solid;
    border-color: var(--color1);
    border-radius: 4px;
}

.oclare-border-color-2 {
    border: 1px solid;
    border-color: var(--color2);
    border-radius: 4px;
}

.oclare-border-color-3 {
    border: 1px solid;
    border-color: var(--color3);
    border-radius: 4px;
}

.oclare-border-color-4 {
    border: 1px solid;
    border-color: var(--color4);
    border-radius: 4px;
}
/*#endregion */

/*#region Oclare Background colors */
.oclare-background-default {
    background-color: var(--oclare-background);
}

.oclare-background-color-1 {
    background-color: var(--color1);
}

.oclare-background-color-2 {
    background-color: var(--color2);
}

.oclare-background-color-3 {
    background-color: var(--color3);
}

.oclare-background-color-4 {
    background-color: var(--color4);
}

.oclare-background-color-5 {
    background-color: white;
}
/*#endregion */

/*#region Oclare Theme Colors*/
:root {    
    --oclare-background: #F1F2F4;
    --color1: rgb(23, 75, 131);
    --color1Transparent: rgba(23, 75, 131, 0.5);
    --color2: rgb(0, 122, 160);
    --color2Transparent: rgba(0, 122, 160, 0.5);
    --color3: rgb(98, 85, 164);
    --color3Transparent: rgb(98, 85, 164, 0.5);
    --color4: rgb(152, 152, 203);
    --color4Transparent: rgba(152, 152, 203, 0.5);
}

/*#endregion */

/*Defaults*/
img {
    max-width:100%;
}

.footer {
    display: flex; 
    justify-content: center; 
    align-self: center;
}

.read-more {
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

#news-header {
    border-radius: 20px 0px 0px 200px;
}
/*#endregion*/

/*#region Padding and Margin classes*/
.padding-0 {
    padding: 0;
}

.padding-xs {
    padding: .25em;
}

.padding-sm {
    padding: .5em;
}

.padding-md {
    padding: 1em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-xl {
    padding: 3em;
}

.padding-y-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.padding-y-xs {
    padding-top: .25em;
    padding-bottom: .25em;
}

.padding-y-sm {
    padding-top: .5em;
    padding-bottom: .5em;
}

.padding-y-md {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padding-y-lg {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.padding-y-xl {
    padding-top: 3em;
    padding-bottom: 3em;
}

.padding-x-0 {
    padding-left: 0;
    padding-right: 0;
}

.padding-x-xs {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.padding-x-sm {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.padding-x-md {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-x-lg {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.padding-x-xl {
    padding-left: 3em;
    padding-right: 3em;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-xs {
    padding-top: .25em;
}

.padding-top-sm {
    padding-top: .5em;
}

.padding-top-md {
    padding-top: 1em;
}

.padding-top-lg {
    padding-top: 1.5em;
}

.padding-top-xl {
    padding-top: 3em;
}

.padding-right-0 { 
    padding-right: 0;
}

.padding-right-xs {
    padding-right: .25em;
}

.padding-right-sm {
    padding-right: .5em;
}

.padding-right-md {
    padding-right: 1em;
}

.padding-right-lg {
    padding-right: 1.5em;
}

.padding-right-xl {
    padding-right: 3em;
}

.padding-bottom-0 {
    padding: 0;
}

.padding-bottom-xs {
    padding-bottom: .25em;
}

.padding-bottom-sm {
    padding-bottom: .5em;
}

.padding-bottom-md {
    padding-bottom: 1em;
}

.padding-bottom-lg {
    padding-bottom: 1.5em;
}

.padding-bottom-xl {
    padding-bottom: 3em;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-xs {
    padding-left: .25em;
}

.padding-left-sm {
    padding-left: .5em;
}

.padding-left-md {
    padding-left: 1em;
}

.padding-left-lg {
    padding-left: 1.5em;
}

.padding-left-xl {
    padding-left: 3em;
}

.margin-0 {
    margin: 0;
}

.margin-xs {
    margin: .25em;
}

.margin-sm {
    margin: .5em;
}

.margin-md {
    margin: 1em;
}

.margin-lg {
    margin: 1.5em;
}

.margin-xl {
    margin: 3em;
}

.margin-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-y-xs {
    margin-top: .25em;
    margin-bottom: .25em;
}

.margin-y-sm {
    margin-top: .5em;
    margin-bottom: .5em;
}

.margin-y-md {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-y-lg {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.margin-y-xl {
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-x-0 {
    margin-left: 0;
    margin-right: 0;
}

.margin-x-xs {
    margin-left: .25em;
    margin-right: .25em;
}

.margin-x-sm {
    margin-left: .5em;
    margin-right: .5em;
}

.margin-x-md {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-x-lg {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.margin-x-xl {
    margin-left: 3em;
    margin-right: 3em;
}

.margin-top-0 { 
    margin-top: 0;
}

.margin-top-xs {
    margin-top: .25em;
}

.margin-top-sm {
    margin-top: .5em;
}

.margin-top-md {
    margin-top: 1em;
}

.margin-top-lg {
    margin-top: 1.5em;
}

.margin-top-xl {
    margin-top: 3em;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-xs {
    margin-right: .25em;
}

.margin-right-sm {
    margin-right: .5em;
}

.margin-right-md {
    margin-right: 1em;
}

.margin-right-lg {
    margin-right: 1.5em;
}

.margin-right-xl {
    margin-right: 3em;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-xs {
    margin-bottom: .25em;
}

.margin-bottom-sm {
    margin-bottom: .5em;
}

.margin-bottom-md {
    margin-bottom: 1em;
}

.margin-bottom-lg {
    margin-bottom: 1.5em;
}

.margin-bottom-xl {
    margin-bottom: 3em;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-xs {
    margin-left: .25em;
}

.margin-left-sm {
    margin-left: .5em;
}

.margin-left-md {
    margin-left: 1em;
}

.margin-left-lg {
    margin-left: 1.5em;
}

.margin-left-xl {
    margin-left: 3em;
}

/*#endregion*/