/*#region Oclare text colors*/

.oclare-color-1 {
    color: var(--color1);
}

.oclare-color-2 {
    color: var(--color2);
}

.oclare-color-3 {
    color: var(--color3);
}

.oclare-color-4 {
    color: var(--color4);
}

.oclare-color-5 {
    color: white;
}


/*#endregion */


/*#region Input with oclare color functionality*/

input.oclare-color-1:hover,
input.oclare-color-1:active,
input.oclare-color-1:focus {
    color: white;
    background-color: var(--color1);
    outline: 5px auto var(--color1Transparent)
}

input.oclare-color-2:hover,
input.oclare-color-2:active,
input.oclare-color-2:focus {
    color: white;
    background-color: var(--color2);
    outline: 5px auto var(--color2Transparent);
}

input.oclare-color-3:hover,
input.oclare-color-3:active,
input.oclare-color-3:focus {
    color: white;
    background-color: var(--color3);
    outline: 5px auto var(--color3Transparent)
}

input.oclare-color-4:hover,
input.oclare-color-4:active,
input.oclare-color-4:focus {
    color: white;
    background-color: var(--color4);
    color: var(--color4);
    outline: 5px auto var(--color4Transparent)
}


/*#endregion*/


/*#region Oclare border colors*/

.oclare-border-color-1 {
    border: 1px solid;
    border-color: var(--color1);
    border-radius: 4px;
}

.oclare-border-color-2 {
    border: 1px solid;
    border-color: var(--color2);
    border-radius: 4px;
}

.oclare-border-color-3 {
    border: 1px solid;
    border-color: var(--color3);
    border-radius: 4px;
}

.oclare-border-color-4 {
    border: 1px solid;
    border-color: var(--color4);
    border-radius: 4px;
}


/*#endregion */


/*#region Oclare Background colors */

.oclare-background-default {
    background-color: var(--oclare-background);
}

.oclare-background-color-1 {
    background-color: var(--color1);
}

.oclare-background-color-2 {
    background-color: var(--color2);
}

.oclare-background-color-3 {
    background-color: var(--color3);
}

.oclare-background-color-4 {
    background-color: var(--color4);
}

.oclare-background-color-5 {
    background-color: white;
}


/*#endregion */


/*#region Oclare Theme Colors*/

:root {
    --oclare-background: #F1F2F4;
    --color1: rgb(23, 75, 131);
    --color1Transparent: rgba(23, 75, 131, 0.5);
    --color2: rgb(0, 122, 160);
    --color2Transparent: rgba(0, 122, 160, 0.5);
    --color3: rgb(98, 85, 164);
    --color3Transparent: rgb(98, 85, 164, 0.5);
    --color4: rgb(152, 152, 203);
    --color4Transparent: rgba(152, 152, 203, 0.5);
    /*Menu Bar Colors*/
    --colorOverview: rgb(235, 181, 47);
    --colorOverviewTransparent: rgba(235, 182, 47, 0.5);
    --colorTheory: rgb(121, 188, 46);
    --colorTheoryTransparent: rgba(121, 188, 46, 0.5);
    --colorProcedure: rgb(205, 121, 181);
    --colorProcedureTransparent: rgba(205, 121, 181, 0.5);
    --colorPreLab: rgb(110, 187, 177);
    --colorPreLabTransparent: rgba(110, 187, 177, 0.5);
    --colorData: rgb(234, 221, 67);
    --colorDataTransparent: rgba(234, 221, 67, 0.5);
    --colorAnalysis: rgb(246, 100, 85);
    --colorAnalysisTransparent: rgba(246, 100, 85, 0.5);
    --colorReport: rgb(10, 153, 1);
    --colorReportTransparent: rgba(10, 153, 1, 0.5);
}


/*#endregion */


/*#region Defaults*/

.oclare-form{
    margin-top: auto;
}

.oclare-form > h1 {
    text-align: center;
    text-decoration: underline;
}

.oclare-form > form > p > label > input{
    width: 400;
}

textarea {
    width: 400;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.docLink {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.docLink:hover {
    text-decoration: underline;
    color: black;
    font-weight: 500;
}

.docList{
    list-style: none
}

.layout {
    display: grid;
    height: 100vh;
}

#home {
    --width: 100%;
    grid-template-columns: 0fr var(--width) 0fr;
}

@media (min-width: 992px) {
    #home {
        --width: 800px;
        grid-template-columns: 1fr var(--width) 1fr;
    }
}

@media (min-width: 1200px) {
    #home {
        --width: 1000px;
    }
}

img {
    max-width: 100%;
}

.w100 {
    width: 100%;
}

.vh100 {
    height: 100vh;
}

.relative-position {
    position: relative;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('/Images/teacher_BG.jpg');
    background-size: cover;
    background-position-y: top;
    background-position-x: 67%;
}

#left-background,
#right-background {
    position: fixed;
    width: calc((100% - var(--width)) / 2);
    height: 100%;
    background-size: cover;
    top: 0;
}

#right-background {
    background-image: url('/Images/extra.jpg');
    background-position-x: left;
    right: 0;
}

#left-background {
    background-image: url('/Images/Campus_summer.jpg');
    background-position-x: center;
    left: 0;
}

#left-background::after,
#right-background::after,
#header-image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, var(--oclare-background));
}

#footer-bar,
#tablet-footer,
#phone-footer {
    margin-block-start: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    max-height: 30px;
}

.footer>.footer {
    padding-left: 1em;
}

.footer-col {
    margin-left: .25em;
    margin-right: .25em;
}

.footer-col img {
    padding-top: .25em;
    padding-bottom: .25em;
}

.read-more {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

@media (max-width: 991px) and (min-width: 768px) {
    #tablet-footer {
        display: flex!important;
    }
    .read-more {
        width: 100%;
    }
    #links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #links>.row>a>img {
        max-width: 25%;
        margin: auto;
        padding: 1em;
    }
    #credits img {
        max-width: 75%;
        max-height: 60px;
        margin: auto;
        padding: .5em;
    }
    #credits {
        display: flex;
        flex-direction: column;
    }
    /* For EN | FR */
    .footer>div>.row {
        text-align: center;
    }
}

.article-title {
    min-height: 39px;
}

.article-pagination {
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
}

[aria-current],
[aria-current]:hover {
    background-color: var(--color1);
    color: white;
    padding: 0 .25em 0 .25em;
    border-radius: 25px;
}

.article-pagination>li {
    list-style: none;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

#article-image {
    min-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    #article-image>*>* {
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    #article-image {
        flex-direction: row;
    }
}

.flex-row-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-row>a>img {
    padding: 0em .5em 0em .5em;
    height: 20px;
    min-width: 33px;
    margin-top: auto;
    margin-bottom: auto;
}

#oclare-logo {
    max-width: 25%;
    padding-right: 0;
}

@media screen and (max-width: 991px) {
    #header-logo {
        max-width: 50%;
        margin: auto;
    }
    .article-div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

#news-header {
    float: none;
    padding: .5em;
    border-radius: 0px 0px 55px 0px;
    text-align: left;
}

@media screen and (min-width: 992px) {
    #news-header {
        padding: .25em;
        border-radius: 0px 0px 0px 55px;
        text-align: right;
    }
}

#article-header {
    border-radius: 0px 0px 55px 0px;
}

#search-label {
    border-radius: 35px 0px 0px 0px;
}

#oclare-copyright {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}


/*.menu-spacer {
    border-radius: 15px 0px 0px 15px;
}*/

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-box {
    border-radius: 25px 25px 25px 25px;
    padding-right: .5em;
    padding-left: .5em;
    background-color: var(--color2);
    color: white;
    width: 10%;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu-icon {
    max-width: 25%;
    padding-left: .5em;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .menu-icon {
        display: none;
    }
    .menu-item {
        flex-wrap: nowrap;
        font-weight: normal;
    }
}

.article-card {
    max-height: 90px;
}

.article-head {
    max-width: 50%;
    max-height: 25%;
}

.help-bug {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

#help {
    border-top-left-radius: 15px;
}

#bug {
    border-bottom-left-radius: 15px;
}

.help-bug>img {
    max-height: 80%;
}

.interface {
    border-radius: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out {
    border-radius: 25px;
}

.student-interface {
    border-radius: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-holder {
    padding-right: 0em;
    padding-left: 0em;
    padding-bottom: 0em;
    padding-top: .25em;
    margin-top: .15em;
}

.student-holder2 {
    padding-top: .15em;
    padding-left: 0em;
    padding-bottom: 0em;
    padding-right: 0em;
}

.dropdown-menu {
    color: black;
    min-width: 100%;
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .ipad-nav {
        display: none !important;
    }
    #phone-footer {
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #phone-footer .credit-img a {
        max-width: 50%;
        margin: auto;
        padding-bottom: .5em;
    }
}

.mNav {
    background-color: var(--color2);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.mNav2 {
    background-color: var(--color2);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

li::marker {
    color: black;
}

.mLink {
    color: white;
    text-decoration: none;
}

.mLink:hover {
    color: #eee;
    text-decoration: none;
}

#mIcon {
    padding-left: 10px;
    max-width: 25px;
    min-width: 15px;
}

#overview {
    background-color: var(--colorOverviewTransparent);
}

#overviewMini:hover,
#overviewMini:active,
#overviewMini:focus {
    background-color: var(--colorOverview);
    /* color: #23527c; */
}

#overview>li:hover,
#overview>li:active,
#overview>li:focus {
    background-color: var(--colorOverview);
}

#theory {
    background-color: var(--colorTheoryTransparent);
}

#theoryMini:hover,
#theoryMini:active,
#theoryMini:focus {
    background-color: var(--colorTheory);
    /* color: #23527c; */
}

#theory>li:hover,
#theory>li:active,
#theory>li:focus {
    background-color: var(--colorTheory);
}

#procedure {
    background-color: var(--colorProcedureTransparent);
}

#procedureMini:hover,
#procedureMini:active,
#procedureMini:focus {
    background-color: var(--colorProcedure);
    /* color: #23527c; */
}

#procedure>li:hover,
#procedure>li:active,
#procedure>li:focus {
    background-color: var(--colorProcedure);
}

#preLabMini:hover,
#preLabMini:active,
#preLabMini:focus {
    background-color: var(--colorPreLab);
    /* color: #23527c; */
}

#pre-lab {
    background-color: var(--colorPreLabTransparent);
}

#pre-lab>li:hover,
#pre-lab>li:active,
#pre-lab>li:focus {
    background-color: var(--colorPreLab);
}

#dataMini:hover,
#dataMini:active,
#dataMini:focus {
    background-color: var(--colorData);
    /* color: #23527c; */
}

#data {
    background-color: var(--colorDataTransparent);
}

#data>li:hover,
#data>li:active,
#data>li:focus {
    background-color: var(--colorData);
}

#analysis {
    background-color: var(--colorAnalysisTransparent);
}

#analysisMini:hover,
#analysisMini:active,
#analysisMini:focus {
    background-color: var(--colorAnalysis);
    /* color: #23527c; */
}

#analysis>li:hover,
#analysis>li:active,
#analysis>li:focus {
    background-color: var(--colorAnalysis);
}

#report {
    background-color: var(--colorReportTransparent);
}

#reportMini:hover,
#reportMini:active,
#reportMini:focus {
    background-color: var(--colorReport);
    /* color: #23527c; */
}

#report>li:hover,
#report>li:active,
#report>li:focus {
    background-color: var(--colorReport);
}

#logoutMini:hover,
#logoutMini:active,
#logoutMini:focus {
    background-color: var(--oclare-background);
    /* color: #23527c; */
}

#logoutMini:hover,
#logoutMini:active,
#logoutMini:focus {
    background-color: var(--oclare-background);
    color: #23527c;
}

#teacherMini:hover,
#teacherMini:active,
#teacherMini:focus {
    background-color: var(--color1);
    /* color: #23527c; */
}

#studentMini:hover,
#studentMini:active,
#studentMini:focus {
    background-color: var(--color3);
    /* color: #23527c; */
}

.list-group {
    padding: .25em;
    text-align: center;
}

.list-group-item {
    margin-bottom: .25em;
    padding: .15em;
}

.menu-link {
    /* all rules required to make the whole div clickable */
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dropdown-menu.list-group {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#overviewMenu:active,
#overviewMenu:focus,
#overviewMenu:hover {
    background-color: var(--colorOverview);
}

#theoryMenu:active,
#theoryMenu:focus,
#theoryMenu:hover {
    background-color: var(--colorTheory);
}

#procedureMenu:active,
#procedureMenu:focus,
#procedureMenu:hover {
    background-color: var(--colorProcedure);
}

#pre-labMenu:active,
#pre-labMenu:focus,
#pre-labMenu:hover {
    background-color: var(--colorPreLab);
}

#dataMenu:active,
#dataMenu:focus,
#dataMenu:hover {
    background-color: var(--colorData);
}

#analysisMenu:active,
#analysisMenu:focus,
#analysisMenu:hover {
    background-color: var(--colorAnalysis);
}

#reportMenu:active,
#reportMenu:focus,
#reportMenu:hover {
    background-color: var(--colorReport);
}

.footer>div>p {
    color: white;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: white;
}

.credit-img {
    margin: 0;
    display: flex;
    justify-content: center;
}

.credit-img>img {
    max-width: 75%;
    max-height: 150px;
    padding: .5em;
}

.footer-col img {
    max-height: 50px;
}

.xs-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .75em;
    padding-bottom: .75em;
}

.flex-xs-footer {
    justify-content: space-evenly;
    width: 100%;
}

.xs-footer>a>img {
    max-height: 45px;
}

.xs-footer>p {
    margin-bottom: 0;
}

.main-logo {
    padding-top: 0.5em
}


/*#endregion*/


/*#region Padding and Margin classes*/

.padding-0 {
    padding: 0;
}

.padding-xs {
    padding: .25em;
}

.padding-sm {
    padding: .5em;
}

.padding-md {
    padding: 1em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-xl {
    padding: 3em;
}

.padding-y-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.padding-y-xs {
    padding-top: .25em;
    padding-bottom: .25em;
}

.padding-y-sm {
    padding-top: .5em;
    padding-bottom: .5em;
}

.padding-y-md {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padding-y-lg {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.padding-y-xl {
    padding-top: 3em;
    padding-bottom: 3em;
}

.padding-x-0 {
    padding-left: 0;
    padding-right: 0;
}

.padding-x-xs {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.padding-x-sm {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.padding-x-md {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-x-lg {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.padding-x-xl {
    padding-left: 3em;
    padding-right: 3em;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-xs {
    padding-top: .25em;
}

.padding-top-sm {
    padding-top: .5em;
}

.padding-top-md {
    padding-top: 1em;
}

.padding-top-lg {
    padding-top: 1.5em;
}

.padding-top-xl {
    padding-top: 3em;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-xs {
    padding-right: .25em;
}

.padding-right-sm {
    padding-right: .5em;
}

.padding-right-md {
    padding-right: 1em;
}

.padding-right-lg {
    padding-right: 1.5em;
}

.padding-right-xl {
    padding-right: 3em;
}

.padding-bottom-0 {
    padding: 0;
}

.padding-bottom-xs {
    padding-bottom: .25em;
}

.padding-bottom-sm {
    padding-bottom: .5em;
}

.padding-bottom-md {
    padding-bottom: 1em;
}

.padding-bottom-lg {
    padding-bottom: 1.5em;
}

.padding-bottom-xl {
    padding-bottom: 3em;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-xs {
    padding-left: .25em;
}

.padding-left-sm {
    padding-left: .5em;
}

.padding-left-md {
    padding-left: 1em;
}

.padding-left-lg {
    padding-left: 1.5em;
}

.padding-left-xl {
    padding-left: 3em;
}

.margin-0 {
    margin: 0;
}

.margin-xs {
    margin: .25em;
}

.margin-sm {
    margin: .5em;
}

.margin-md {
    margin: 1em;
}

.margin-lg {
    margin: 1.5em;
}

.margin-xl {
    margin: 3em;
}

.margin-y-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-y-xs {
    margin-top: .25em;
    margin-bottom: .25em;
}

.margin-y-sm {
    margin-top: .5em;
    margin-bottom: .5em;
}

.margin-y-md {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-y-lg {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.margin-y-xl {
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-x-0 {
    margin-left: 0;
    margin-right: 0;
}

.margin-x-xs {
    margin-left: .25em;
    margin-right: .25em;
}

.margin-x-sm {
    margin-left: .5em;
    margin-right: .5em;
}

.margin-x-md {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-x-lg {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.margin-x-xl {
    margin-left: 3em;
    margin-right: 3em;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-xs {
    margin-top: .25em;
}

.margin-top-sm {
    margin-top: .5em;
}

.margin-top-md {
    margin-top: 1em;
}

.margin-top-lg {
    margin-top: 1.5em;
}

.margin-top-xl {
    margin-top: 3em;
}

.margin-top-doc {
    margin-top: 80px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-xs {
    margin-right: .25em;
}

.margin-right-sm {
    margin-right: .5em;
}

.margin-right-md {
    margin-right: 1em;
}

.margin-right-lg {
    margin-right: 1.5em;
}

.margin-right-xl {
    margin-right: 3em;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-xs {
    margin-bottom: .25em;
}

.margin-bottom-sm {
    margin-bottom: .5em;
}

.margin-bottom-md {
    margin-bottom: 1em;
}

.margin-bottom-lg {
    margin-bottom: 1.5em;
}

.margin-bottom-xl {
    margin-bottom: 3em;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-xs {
    margin-left: .25em;
}

.margin-left-sm {
    margin-left: .5em;
}

.margin-left-md {
    margin-left: 1em;
}

.margin-left-lg {
    margin-left: 1.5em;
}

.margin-left-xl {
    margin-left: 3em;
}

.margin-auto {
    margin: auto;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.margin-y-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-bottom-auto {
    margin-bottom: auto;
}


/*#endregion*/


/*#region Logo div*/

@media screen and (max-width:1199px) {
    #logo-div {
        height: 20px;
        background: radial-gradient( circle 20px at 55% -85%, transparent, transparent 25px, var(--color1) 20px);
        background-repeat: no-repeat;
        padding: 0;
    }
    #logo-div::after {
        content: "";
        position: absolute;
        background-color: transparent;
        right: -25%;
        height: 10px;
        width: 20px;
        border-top-left-radius: 25px;
        box-shadow: -10px 0 0 0 var(--color1);
    }
    #logo-div::before {
        content: "";
        position: absolute;
        background-color: transparent;
        top: 10px;
        right: -25%;
        height: 10px;
        width: 20px;
        border-bottom-left-radius: 25px;
        box-shadow: -10px 0 0 0 var(--color1);
    }
}

@media screen and (min-width:1200px) {
    #logo-div {
        height: 20px;
        background: radial-gradient( circle 20px at 50% -50%, transparent, transparent 20px, var(--color1) 20px);
        background-repeat: no-repeat;
        padding: 0;
    }
    #logo-div::after {
        content: "";
        position: absolute;
        background-color: transparent;
        right: -20%;
        height: 10px;
        width: 20px;
        border-top-left-radius: 25px;
        box-shadow: -10px 0 0 0 var(--color1);
    }
    #logo-div::before {
        content: "";
        position: absolute;
        background-color: transparent;
        top: 10px;
        right: -20%;
        height: 10px;
        width: 20px;
        border-bottom-left-radius: 25px;
        box-shadow: -10px 0 0 0 var(--color1);
    }
}


/*#endregion*/


/*#region Article styles */

#article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#article-content>* {
    width: 100%;
    margin: 0.25em 0 0.25em 0;
    padding: 1em 1em 1em 1em;
    text-align: left;
}

#article-content a {
    width: 100%;
    height: 100%;
}

#article-content h1,
#article-content h2,
#article-content h3,
#article-content h4,
#article-content h5,
#article-content h6 {
    text-align: center;
}

#article-body {
    border-top-left-radius: 70px 40px;
}

#article-title {
    border-top-left-radius: 70px 50px;
}


/*#endregion*/


/* #region Navbar */

#nav-bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--color2);
    width: 100%;
}

.oclare-nav-item {
    max-width: 16.666666666666666666666666666667%;
    padding: 1em;
    min-height: 100%;
    color: white;
    text-decoration: none;
}

a.oclare-nav-item:hover {
    background: white;
    color: var(--color2);
    text-decoration: none;
}


/* #endregion */


/* #region Header on tablet */

@media screen and (max-width: 991px) {
    #top-row * {
        padding: 0;
    }
    #top-row img {
        margin-left: 8.33%;
        max-width: 25%;
    }
}


/* #endregion */


/* #region Header on phone */

@media screen and (max-width: 767px) {
    #top-row img {
        margin-left: 0;
    }
}


/* #endregion */