<!--Footer-->
<!--Desktop or Greater-->
<div class="hidden-sm hidden-xs oclare-background-color-2 footer flex-row flex-row-nowrap padding-top-xs" id="footer-bar">
    <!--OCLaRE Logo-->
    <!--<div class="footer footer-col">
        <a>
            <img src="/Images/OCLaRE_Icon(Blue-copyright).png" class="oclare-background-color-2">
        </a>
    </div>-->
    <!--CG&I Logo-->
    <div class="footer footer-col">
        <a>
            <img src="/Images/CegepGaspesie_logo.png" class="oclare-background-color-2 footer-logo">
        </a>
    </div>
    <!--Quebec Logo-->
    <div class="footer footer-col">
        <a>
            <img src="/Images/Quebec_Logo.png" class="oclare-background-color-2 footer-logo">
        </a>
    </div>
    <!--JAC Logo-->
    <div class="footer footer-col">
        <a>
            <img src="/Images/JAC_Logo(Blue).png" class="oclare-background-color-2 footer-logo">
        </a>
    </div>

    <div class="footer flex-row flex-row-nowrap flex-end footer-col">
        <!--EN-->
        <div class="flex-row"><p class="margin-0"><a>EN</a>&nbsp;|&nbsp;<a>FR</a></p></div>

        <!--Contact us-->
        <a>
            <img src="/Images/Icons/envelope-regular.png" class="oclare-background-color-2">
        </a>

        <!--Report Bug-->
        <a>
            <img src="/Images/Icons/bug-white.png" class="oclare-background-color-2">
        </a>

        <!--Help-->
        <a>
            <img src="/Images/Icons/question-white.png" class="oclare-background-color-2">
        </a>
    </div>
</div>
<!--Tablet-->
<div class="visible-sm oclare-background-color-2 footer padding-xs">
    <div class="col-sm-offset-2 col-sm-4" id="credits">
        <!--Oclare Logo-->
        <!--<div class="row">
            <a></a>
            <img src="/Images/OCLaRE_Icon(Blue-copyright).png" class="oclare-background-color-2">
        </div>-->
        <!--Quebec Logo-->
        <div class="row">
            <a>
                <img src="/Images/Quebec_Logo.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--CG&I Logo-->
        <div class="row">
            <a>
                <img src="/Images/CegepGaspesie_logo.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--JAC Logo-->
        <div class="row">
            <a>
                <img src="/Images/JAC_Logo(Blue).png" class="oclare-background-color-2">
            </a>
        </div>
    </div>
    <div class="col-sm-3" id="links">
        <!--Contact us-->
        <div class="row">
            <a>
                <img src="/Images/Icons/envelope-regular.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--report bug-->
        <div class="row">
            <a>
                <img src="/Images/Icons/bug-white.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--Help-->
        <div class="row">
            <a>
                <img src="/Images/Icons/question-white.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--EN/FR-->
        <div class="row">
            <p class="oclare-color-5"><a>EN</a>&nbsp;|&nbsp;<a>FR</a></p>
        </div>
    </div>
</div>
<!--Phone-->
<div class="visible-xs oclare-background-color-2 footer padding-xs">
    <div class="flex-row flex-xs-footer">
        <!--Contact us-->
        <div class="xs-footer">
            <a>
                <img src="/Images/Icons/envelope-regular.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--report bug-->
        <div class="xs-footer">
            <a>
                <img src="/Images/Icons/bug-white.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--Help-->
        <div class="xs-footer">
            <a>
                <img src="/Images/Icons/question-white.png" class="oclare-background-color-2">
            </a>
        </div>
        <!--EN/FR-->
        <div class="xs-footer">
            <p class="oclare-color-5"><a>EN</a></p>
        </div>
        <div class="xs-footer">
            <p class="oclare-color-5"><a>FR</a></p>
        </div>
    </div>
    <!--Oclare Logo-->
    <!--<div class="row credit-img">
        <a></a>
        <img src="/Images/OCLaRE_Icon(Blue-copyright).png" class="oclare-background-color-2">
    </div>-->
    <!--Quebec Logo-->
    <div class="credit-img">
        <a>
            <img src="/Images/Quebec_Logo.png" class="oclare-background-color-2">
        </a>
    </div>
    <!--CG&I Logo-->
    <div class="credit-img">
        <a>
            <img src="/Images/CegepGaspesie_logo.png" class="oclare-background-color-2">
        </a>
    </div>
    <!--JAC Logo-->
    <div class="credit-img">
        <a>
            <img src="/Images/JAC_Logo(Blue).png" class="oclare-background-color-2">
        </a>
    </div>
</div>