---
layout: oclareBase.njk
pagination:
    data: collections.post
    size: 10
    reverse: true
    alias: posts
title: Archive
---
{% include "partials/header.njk" %}
<div class="padding-md oclare-background-default">
    <div class="col-md-12">
        <div class="oclare-background-color-5">
            <div class="row margin-0">
                <div class="col-xs-7 col-sm-3 col-md-2 col-lg-2 oclare-background-default" id="article-header">
                    <h3 class="padding-top-sm oclare-color-1 margin-top-xs">Articles: </h3>
                </div>
            </div>
            {% for post in posts %}
                <div class="padding-y-sm article-title">
                    <div class="w100 padding-x-md">
                        <a href="{{ post.url }}"><h4 class="oclare-color-2"><em>{{ post.data.title }}</em></h4></a>
                    </div>                 
                </div>
            {% endfor %}
            <hr class="w100">
            <div class="row">
                <nav aria-labelledby="article-pagination">
                    <h4 class="col-xs-12 padding-x-lg" id="article-pagination">Page:</h4>
                    <ol class="article-pagination">
                        {% for item in posts %}
                            <li class="margin-x-sm"><a href="{{ posts.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <form action="https://www.google.com/search" method="get" class="flex-row flex-end margin-0 oclare-background-color-5">
                <input type="hidden" name="q" id="q" value="site:https://oclare.netlify.com">
                <div class="oclare-background-default padding-sm padding-left-md text-center"  id="search-label">                    
                    <input type="text" name="q" placeholder="Search" id="search-str" class="margin-x-sm">
                    <button type="submit" class="submit">Search with Google</button>
                </div>
            </form>
        </div>
    </div>
</div>
