---
layout: oclareBase.njk
---

{% include "partials/header.njk" %}
<!--About\News-->
<div class="container-fluid padding-md oclare-background-default">
    <div class="col-md-12">
        <div class="padding-sm oclare-background-color-5">
        <h1>{{ title }}</h1>
            <img src=
            {% if image == '' %}
                "/Images/cms/ArticlePlaceholder.jpg"            
            {% else %}
                "{{image}}"
            {% endif %} 
            class="article-head">
            {{content | safe}}
        </div>
    </div>
</div>