---
layout: oclareBase.njk
---

{% include "partials/header.njk" %}
<!--About\News-->
<div class="container-fluid padding-y-md oclare-background-default">
    <div class="oclare-background-color-1">
        <div class="oclare-background-color-5" id="article-body">
            <div class="oclare-background-color-4 padding-x-sm" id="article-title">
                <h1 class="margin-0 padding-sm">{{ title }}</h1>
            </div>
            <img src=
            {% if image == '' %}
                "/Images/cms/ArticlePlaceholder.jpg"            
            {% else %}
                "{{image}}"
            {% endif %} 
            class="article-head margin-left-sm padding-xs">
            <div class="container-fluid margin-top-sm" id="article-content">
                {{content | safe}}
            </div>
        </div>
    </div>
</div>
