---
layout: oclareBase.njk
---
{% include "partials/header.njk" %}
<div class="padding-md form-backing">
    <div class="col-md-3 col-sm-3 hidden-xs oclare-background-color-5 panel panel-default margin-top-doc padding-y-md">
        <ul>
        {%- for doc in collections.doc -%}
                <li>
                    <a href="{{ doc.url }}" class="docLink">{{ doc.data.title }}</a>
                </li>
        {%- endfor -%}
        </ul>
    </div>
    <nav class="hidden-sm hidden-md visible-xs navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url }}">{{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {%- for doc in collections.doc -%}
                    <li>
                        <a href="{{ doc.url }}" class="docLink">{{ doc.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </nav>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="padding-sm oclare-background-color-5" id="article-body">
            <div class="oclare-background-color-4 padding-x-sm margin-bottom-md" id="article-title">
                <h1 class="margin-0 padding-sm">{{ title }}</h1>
            </div>
            {{content | safe}}
        </div>
    </div>
</div>