---
layout: oclareBase.njk
pagination:
    data: collections.post
    size: 10
---
<!-- Top Row -->
<div class="padding-sm">
    <!-- LOGO -->
    <div class="col-sm-12 col-md-3">
        <a href="/index.html">
            <img src="/Images/OCLaRE_Logo.png" class="img-responsive media-object" alt="Logo">
        </a>
    </div>
</div>
<div class="padding-md oclare-background-default">
    <div class="col-md-7">
        <div class="oclare-background-color-5">
        <div class="row">
            <h3 class="padding-xs col-md-offset-2 col-md-6">Articles: </h3>
        </div>
            {% for article in pagination.items %}
                <div class="padding-y-sm article-title">
                    <div class="col-xs-12 col-lg-12 padding-x-md">
                        <a href="{{ article.url }}"><h4 class="oclare-color-1"><em>{{ article.data.title }}</em></h4></a>
                    </div>                 
                </div>
            {% endfor %}
            <hr>
            <div class="row">
                <nav aria-labelledby="article-pagination">
                    <h4 class="col-xs-12 padding-x-lg" id="article-pagination">Page:</h4>
                    <ol class="article-pagination">
                        {% for item in pagination.pages %}
                            <li class="margin-x-sm"><a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <div class="row padding-x-sm flex-row">
                <form action="https://www.google.com/search" method="get" class="col-md-12">
                    <input type="hidden" name="q" id="q" value="site:https://oclare.netlify.com">
                    <input type="text" name="q" id="search-str">
                    <button type="submit" class="submit">Search with Google</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12">
        <!--News/Articles-->
        {% include "recentArticles.njk" %}
    </div>
</div>
