---
layout: oclareBase.njk
title: Contact Us
---
<!-- Top Row -->
{% include "partials/header.njk" %}
<div class="container-fluid padding-md oclare-background-color-5 panel panel-default oclare-form">
    <h1>{{content | safe}}</h1>
    <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
        <p>
            <label>Your Name:</br> <input type="text" name="name" /></label>   
        </p>
        <p>
            <label>Your Email:</br> <input type="email" name="email" /></label>
        </p>
        <p>
            <label>Message:</br> <textarea name="message"></textarea></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
</div>