<!--Footer-->
<!--Desktop or Greater-->
<div class="hidden-sm hidden-xs oclare-background-color-2 footer flex-row flex-row-nowrap padding-top-xs" id="footer-bar">
    <!--CG&I Logo-->
    <div class="footer footer-col">
        {% include "partials/logo-links/cgi-logo.njk" %}
    </div>
    <!--Quebec Logo-->
    <div class="footer footer-col">
        {% include "partials/logo-links/quebec-logo.njk" %}
    </div>
    <!--JAC Logo-->
    <div class="footer footer-col">
        {% include "partials/logo-links/jac-logo.njk" %}
    </div>

    <div class="footer flex-row flex-row-nowrap flex-end footer-col">
        <!--EN/FR
        <div class="flex-row">
            <p class="margin-0"><a>EN</a>&nbsp;|&nbsp;<a>FR</a></p>
        </div>-->

        <!--Contact us-->
        {% include "partials/logo-links/contact.njk" %}

        <!--Report Bug-->
        {% include "partials/logo-links/bug.njk" %}

        <!--Help-->
        {% include "partials/logo-links/help.njk" %}
    </div>
</div>
<!--Tablet-->
<div class="visible-sm oclare-background-color-2 footer padding-xs" id="tablet-footer">
    <div class="" id="credits">
        <div class="row">
            {% include "partials/logo-links/quebec-logo.njk" %}
        </div>
        <!--CG&I Logo-->
        <div class="row">
            {% include "partials/logo-links/cgi-logo.njk" %}
        </div>
        <!--JAC Logo-->
        <div class="row">
            {% include "partials/logo-links/jac-logo.njk" %}
        </div>
    </div>
    <div class="col-sm-3" id="links">
        <!--Contact us-->
        <div class="row">
            {% include "partials/logo-links/contact.njk" %}
        </div>
        <!--report bug-->
        <div class="row">
            {% include "partials/logo-links/bug.njk" %}
        </div>
        <!--Help-->
        <div class="row">
            {% include "partials/logo-links/help.njk" %}
        </div>
        <!--EN/FR
        <div class="row">
            <p class="oclare-color-5"><a>EN</a>&nbsp;|&nbsp;<a>FR</a></p>
        </div>-->
    </div>
</div>
<!--Phone-->
<div class="visible-xs oclare-background-color-2 footer padding-xs" id="phone-footer">
    <div class="flex-row flex-xs-footer">
        <!--Contact us-->
        <div class="xs-footer">
            {% include "partials/logo-links/contact.njk" %}
        </div>
        <!--report bug-->
        <div class="xs-footer">
            {% include "partials/logo-links/bug.njk" %}
        </div>
        <!--Help-->
        <div class="xs-footer">
            {% include "partials/logo-links/help.njk" %}
        </div>
        <!--EN/FR
        <div class="xs-footer">
            <p class="oclare-color-5"><a>EN</a></p>
        </div>
        <div class="xs-footer">
            <p class="oclare-color-5"><a>FR</a></p>
        </div>-->
    </div>
    <div class="credit-img">
        {% include "partials/logo-links/quebec-logo.njk" %}
    </div>
    <!--CG&I Logo-->
    <div class="credit-img">
        {% include "partials/logo-links/cgi-logo.njk" %}
    </div>
    <!--JAC Logo-->
    <div class="credit-img">
        {% include "partials/logo-links/jac-logo.njk" %}
    </div>
</div>