<!-- LOGO -->
<nav id="nav-bar">
        <a href="/"  id="header-logo"><img src="/Images/OCLaRE_Logo(White).png" class="img-responsive media-object" alt="Logo"></a>
        <div id="nav-item-collection">
            <a href="/" class="oclare-nav-item">Home</a>
            <a href="/archive/" class="oclare-nav-item">News</a>
            <a href="{{ collections.doc[0].url }}" class="oclare-nav-item">Documentation</a>
            <a href="/contactus/" class="oclare-nav-item">Contact&nbsp;Us</a>
            <a href="/bugreport/" class="oclare-nav-item">Help</a>
        </div>
</nav>