<!-- Top Row -->
<div class="container-fluid">
    <!-- LOGO -->
    <div class="col-sm-12 col-md-3">
        <a href="/">
            <img src="/Images/OCLaRE_Logo.png" class="img-responsive media-object" alt="Logo">
        </a>
    </div>
</div>